// Colors

// Primary

$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

// Neutral

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-purple: #241c2b;
$dark: hsl(234, 17%, 12%);

$flip-top: #2c2c44;
$flip-bottom: #34364f;

:root {
  --numbers-size: 80px;
  --border: 8px;
  --hole: 12px;
  --half-hole: calc(var(--hole) / 2);

  --flip-shadow-y-offset: 50px;
  --flip-shadow-size: 100px;
}

html {
  height: calc(var(--vh, 1vh) * 100);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: $very-dark-blue;

  background-image: url("./images/pattern-hills.svg"),
    url("./images/bg-stars.svg"),
    linear-gradient(to bottom, $very-dark-blue, $very-dark-purple);
  background-repeat: no-repeat, repeat;
  background-size: 100% auto, auto;
  background-position: bottom;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    letter-spacing: 8px;

    opacity: 0;
    animation: appear 0.2s ease-in-out forwards 0.2s;
  }
}

// Flip Clock
.countdownTimer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  margin: 1rem;
  text-align: center;

  h3 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    color: $grayish-blue;

    opacity: 0;
    animation: appear 0.2s ease-in-out forwards 0.8s;
  }
}

.counter {
  width: 148px;
  height: 140px;

  opacity: 0;
  animation: appear 0.4s ease-in-out forwards 0.4s;

  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    $dark 20% 75%,
    transparent 75%
  );

  transform: perspective(450px);
  transform-style: preserve-3d;

  border-radius: var(--border);
  margin-bottom: 28px;

  //Avoid that, when selecting a text, on a smartphone, the layout of the text is broken
  user-select: none;

  color: $soft-red;

  &::before {
    content: "";
    display: flex;
    position: absolute;
    z-index: -10;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: var(--border);

    background-color: $dark;
  }

  .rear {
    width: 100%;
    height: 100%;

    .top,
    .bottom {
      height: 50%;
      width: 100%;
      position: relative;
      overflow: hidden;
      z-index: 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        height: 80px;
        position: relative;
        letter-spacing: -2px;
        z-index: 10;
        font-size: var(--numbers-size);
        line-height: var(--numbers-size);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: var(--hole);
        height: var(--hole);
        background-color: transparent;
        border-radius: 50%;
      }

      &::before {
        left: calc(var(--half-hole) * -1);
      }
      &::after {
        right: calc(var(--half-hole) * -1);
      }
    }

    .top {
      border-radius: var(--border) var(--border) 0 0;
      transform-origin: 50% 100%;

      justify-content: flex-end;

      p {
        transform: translateY(49%);
      }

      &::before,
      &::after {
        bottom: calc(var(--half-hole) * -1);
        box-shadow: 0 calc(var(--flip-shadow-y-offset) * -1) 0
          var(--flip-shadow-size) $flip-top;
      }
    }
    .bottom {
      border-radius: 0 0 var(--border) var(--border);

      justify-content: flex-start;

      p {
        transform: translateY(-51%);
      }

      &::before,
      &::after {
        top: calc(var(--half-hole) * -1);
        box-shadow: 0 var(--flip-shadow-y-offset) 0 var(--flip-shadow-size)
          $flip-bottom;
      }
    }
  }

  .flip {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: perspective(450px);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .front,
    .behind {
      height: 50%;
      width: 100%;
      position: relative;
      overflow: hidden;
      z-index: 10;

      backface-visibility: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        height: 80px;
        position: relative;
        letter-spacing: -2px;
        z-index: 10;
        font-size: var(--numbers-size);
        line-height: var(--numbers-size);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;

        width: var(--hole);
        height: var(--hole);
        background-color: transparent;
        border-radius: 50%;
      }

      &::before {
        left: calc(var(--half-hole) * -1);
      }
      &::after {
        right: calc(var(--half-hole) * -1);
      }
    }

    .front {
      border-radius: var(--border) var(--border) 0 0;
      transform-origin: 50% 100%;

      justify-content: flex-end;

      p {
        transform: translateY(49%);
      }

      &::before,
      &::after {
        bottom: calc(var(--half-hole) * -1);
        box-shadow: 0 calc(var(--flip-shadow-y-offset) * -1) 0
          var(--flip-shadow-size) $flip-top;
      }
    }

    .behind {
      border-radius: 0 0 var(--border) var(--border);
      transform-origin: 50% 0%;

      top: 0;

      transform: rotateX(90deg);

      justify-content: flex-start;

      p {
        transform: translateY(-51%);
      }

      &::before,
      &::after {
        top: calc(var(--half-hole) * -1);
        box-shadow: 0 var(--flip-shadow-y-offset) 0 var(--flip-shadow-size)
          $flip-bottom;
      }
    }
  }
}

//Animations
@keyframes flip-top {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animationTop {
  animation: flip-top 0.2s linear forwards;
}

.animationBottom {
  animation: flip-bottom 0.5s cubic-bezier(0.45, 1.76, 0.43, 0.48) forwards;
}

.social {
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  animation: appear 0.2s ease-in-out forwards 1s;

  .icon {
    margin: 0 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    fill: $grayish-blue;

    transition: background-color 0.2s ease-in-out;

    a {
      color: $grayish-blue;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg,
    svg path {
      transition-property: fill, color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }

    &:hover {
      transition: none;
      background-color: rgba($color: #000000, $alpha: 0.2);

      svg {
        transition-duration: 0s;
        fill: $soft-red;

        path {
          transition-duration: 0s;
          fill: $soft-red;
        }
      }
    }

    &:first-child,
    &:nth-child(2) {
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (min-height: 640px) {
  .app {
    margin-top: -13.25rem;

    h1 {
      margin-bottom: 5.75rem;
    }
  }

  .social {
    position: absolute;
    bottom: 58px;
  }
}

@media screen and (max-width: 860px) and (min-height: 640px) {
  body {
    background-size: auto;
    background-position: bottom right 15%, bottom;
  }

  .app {
    margin-top: -13.25rem;

    h1 {
      padding: 0 2rem;
    }
  }

  .social {
    position: absolute;
    bottom: 48px;
  }
}

@media screen and (max-width: 756px) and (min-height: 640px),
  (max-height: 600px) {
  .group {
    margin: 0.8rem;

    h3 {
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 4px;
    }
  }

  :root {
    --numbers-size: 64px;
    --border: 6px;
    --hole: 10px;
    --half-hole: calc(var(--hole) / 2);

    --flip-shadow-y-offset: 40px;
    --flip-shadow-size: 80px;
  }

  .counter {
    width: 118px;
    height: 112px;
    margin-bottom: 22px;

    &::before {
      top: 8px;
    }
  }

  .social {
    bottom: 44px;
  }
}

@media screen and (max-width: 640px) and (min-height: 640px),
  (max-height: 500px) {
  .app {
    h1 {
      line-height: 26px;
    }
  }

  .group {
    margin: 0.66rem;

    h3 {
      font-size: 9px;
      line-height: 9px;
      letter-spacing: 3px;
    }
  }

  :root {
    --numbers-size: 54px;
    --border: 5px;
    --hole: 8px;
    --half-hole: calc(var(--hole) / 2);

    --flip-shadow-y-offset: 34px;
    --flip-shadow-size: 66px;
  }

  .counter {
    width: 98px;
    height: 92px;
    margin-bottom: 20px;

    &::before {
      top: 7px;
    }
  }

  .social {
    bottom: 39px;
  }
}

@media screen and (max-width: 500px), (max-height: 460px) {
  .app {
    h1 {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .group {
    margin: 0.5rem;

    h3 {
      font-size: 7px;
      line-height: 7px;
      letter-spacing: 3px;
    }
  }

  :root {
    --numbers-size: 36px;
    --border: 5px;
    --hole: 6px;
    --half-hole: calc(var(--hole) / 2);

    --flip-shadow-y-offset: 20px;
    --flip-shadow-size: 40px;
  }

  .counter {
    width: 70px;
    height: 68px;
    margin-bottom: 16px;

    &::before {
      top: 5px;
    }
  }

  .social {
    bottom: 35px;
  }
}

@media screen and (max-width: 359px) {
  .app {
    h1 {
      letter-spacing: 6px;
      padding: 0 1rem;
    }
  }

  .group {
    margin: 0.25rem;
  }

  .counter {
    width: 66px;
    height: 64px;
  }
}

@media screen and (max-height: 400px) {
  .app {
    h1 {
      margin-bottom: 2rem;
    }
  }

  .countdownTimer {
    margin-bottom: 3rem;
  }

  .social {
    position: absolute;
  }
}

@media screen and (max-height: 360px) {
  .app {
    h1 {
      margin: 1rem;
    }
  }

  .countdownTimer {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  .social {
    position: static;
    margin-top: 0rem;
  }
}
